@import '../colors';

.activity-tile {
  background-color: $background-grey;
  margin: 5% 9% 2% 9%;
  padding: 3%;
  border-radius: 10px;

  .summary-text {
    width: 315px;
    padding-left: 20px;
  }

  .subscriber-text {
    width: 315px;
    padding-left: 20px;
  }

  .comment-text {
    width: 315px;
    padding-left: 20px;
  }

  .video-text {
    width: 315px;
    padding-left: 20px;
  }

  .event-text {
    width: 315px;
    padding-left: 20px;
  }

  .fa-comments {
    color: $teal;
  }

  .fa-list {
    color: $summary-pink;
  }

  .fa-paper-plane {
    color: $yellow;
  }

  .fa-heartbeat {
    color: $heart-purple;
  }

  .fa-video-camera {
    color: $camera-blue;
  }

  a {
    color: black;
  }
}
