.buttons-container {

  .button {
    background-color: #E691B9;
    border-color: #E691B9;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
  }

  .button-top {
    margin-top: 45px;
  }
}
