.class-tile {
  background-color: #C3CFEE;
  margin-bottom: 25px;
  width: 100%;
  height: 250px;

  .summary-video {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 25%;
  }

  .video-thumbnail {
    height: 150px;
    max-width: 200px;
  }
}
