@import '../colors';

.class-tile {
  background-color: $background-blue;
  margin-bottom: 25px;
  border-radius: 20px;
  margin-top: 2%;
  min-height: 200px;
  border-style: solid;
  border-width: thin;
  border-color: #868388;

  .title {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .video-thumbnail {
    height: 400px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .video-thumbnail:hover {
    filter: brightness(65%);
  }

  .video-thumbnail-container:hover .on-hover {
    opacity: 1;
  }

  .on-hover {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    transform: translate(125px, -50px);
  }

  .summary-text {
    margin-top: 55px;
  }

  a {
    color: #000000;
    background-color: #E691B9;
    padding: 20px 15px;
    border-radius: 10px;
  }
}
