.class-tile {
  background-color: #C3CFEE;
  margin-bottom: 25px;
  border-radius: 20px;
  margin-top: 2%;
  min-height: 200px;
  border-style: solid;
  border-width: thin;
  border-color: #868388;

  .title {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .video-thumbnail {
    height: 400px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .summary-text {
    margin-top: 55px;
  }

  a {
    color: #000000;
    background-color: #E691B9;
    padding: 20px 15px;
    border-radius: 10px;
  }
}
