@import '../colors';

.course-show-tile {
  background-color: $background-blue;
  height: 100%;
  padding: 15%;
  list-style-type: none;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: $border-grey;

  h6 {
    font-weight: bold;
    margin-bottom: 10%;
  }

  p {
    margin-bottom: 30%;
  }

  .instructor {
    background-color: $light-pink;
    padding: 10px 5px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: $border-grey;
  }

  .student {
    background-color: $light-pink;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: $border-grey;
  }

  .fa-child {
    padding-right: 20px;
    color: $border-grey;
  }
}
