.course-show-tile {
  background-color: #C3CFEE;
  height: 100vh;
  padding: 15%;
  list-style-type: none;

  h6 {
    font-weight: bold;
    margin-bottom: 10%;
  }

  p {
    margin-bottom: 30%;
  }
}
