.dashboard-container {

  .activity-container {
    height: 100vh;
    background-color: #C3CFEE;
  }

  .top-row-squares {
    margin-top: 15px;
  }

  .bottom-row-squares {
    margin-top: -120px;
  }

  .top-left-square {
    background-color: #C3CFEE;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 15px;
    margin-bottom: 0px;
    width: 260px;
    height: 260px;
    border-top-left-radius: 20px;
  }

  .top-right-square {
    background-color: teal;
    margin-top: 2%;
    margin-right: 5%;
    width: 260px;
    height: 260px;
    border-top-right-radius: 20px;
  }

  .bottom-left-square {
    background-color: teal;
    margin-right: 15px;
    margin-left: 18%;
    width: 260px;
    height: 260px;
    border-bottom-left-radius: 20px;
  }

  .bottom-right-square {
    background-color: #C3CFEE;
    margin-right: 5%;
    width: 260px;
    height: 260px;
    border-bottom-right-radius: 20px;
  }
}
