.dashboard-container {

  .activity-container {
    height: 100vh;
    background-color: #C3CFEE;
  }

  .top-row-squares {
    margin-top: 15px;
  }

  .bottom-row-squares {
    margin-top: -120px;
  }

  .top-left-square {
    background: image-url("/assets/beach-juggler-square.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }

  .top-middle-square {
    background-color: #FDFDFC;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }

  .top-right-square {
    background: image-url("/assets/dancer-picture.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }

  .bottom-left-square {
    background-color: #C3CFEE;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }

  .bottom-middle-square {
    background: image-url("/assets/rings-picture.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }

  .bottom-right-square {
    background-color: #C3CFEE;
    width: 270px;
    height: 270px;
    margin-left: 5px;
  }
}
