.dashboard-container {

  .activity-container {
    height: 100vh;
    background-color: #C3CFEE;
  }

  .top-left-square {
    background-color: #C3CFEE;
    margin-top: 2%;
    margin-left: 18%;
    margin-bottom: 0px;
    width: 260px;
    height: 260px;
  }

  .top-right-square {
    background-color: teal;
    margin-top: 2%;
    margin-right: 5%;
    width: 260px;
    height: 260px;
  }

  .bottom-left-square {
    background-color: teal;
    margin-top: 0px;
    margin-left: 18%;
    width: 260px;
    height: 260px;
  }

  .bottom-right-square {
    background-color: #C3CFEE;
    margin-right: 5%;
    width: 260px;
    height: 260px;
  }
}
