@import '../colors';

.event-tile {

  .event-time {
    padding: 2%;
    border-top-color: #000000;
    border-top-style: solid;
    width: 24.5%;
    margin-right: 0px;
  }

  .event-name {
    padding: 2%;
    border-left-color: #000000;
    border-left-style: solid;
    border-top-color: #000000;
    border-top-style: solid;
    width: 192px;
    margin-right: 0;
    margin-left: 0;
  }
}
