@import '../colors';

.event-container {
  border-color: #000000;
  border-style: solid;

  .calendar-header {
    height: 70px;
    width: 264px;
    margin-left: 0px;
  }

  .date-header {
    background-color: $red;
    margin: 0;
    border-right-color: #000000;
    border-right-style: solid;
    width: 28.5%;
    height: 70px;
    margin-bottom: 5px;
  }

  .today-date {
    margin-top: 0;
    font-weight: bold;
    font-size: 2.2em;
  }

  .google-image {
    margin: 0;
  }

  .today-header {
    background-color: $off-white;
    color: $red;
    font-weight: bold;
    margin: 0;
  }

  .google-image {
    height: 13px;
    margin-top: -5px;
    margin-right: -122px;
  }

  .today-word {
    font-size: 2.3em;
    margin-top: -7px;
    margin-left: 40px;
  }

  .schedule-word {
    font-size: 2.2em;
    margin-top: -7px;
    margin-left: 25px;
  }

  .calendar-data {
    height: 200px;
    overflow-y: scroll;
  }
}
