.subscribe-tile {
  padding-top: 30px;

  .header {
    font-weight: bold;
    text-decoration: underline;
  }

  .subscribe-text {
    font-size: .9em;
  }

  .subscribe-button {
    background-color: #E691B9;
    border-color: #E691B9;
    border-radius: 20px;
    padding: 12px;
  }

  .subscribe-button:hover {
    cursor: pointer;
  }
}
