.summary-comments-tile {
  background-color: #C3CFEE;
  height: 100vh;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: #868388;

  .comment-header {
    font-weight: bold;
    font-size: .8em;
  }

  .comment-tile {
    margin: 5%;
    padding: 1px;
    font-size: .8em;
  }

  .student {
    .comment-body {
      background-color: #F4F4F4;
      padding: 5% 1% 1% 5%;
      margin-right: 50px;
      border-radius: 20px;
      border-top-left-radius: 0px;
      border-style: solid;
      border-width: thin;
      border-color: #868388;
    }
  }

  .instructor {
    .comment-body {
      background-color: #81E1DA;
      padding: 5% 1% 1% 5%;
      margin-right: 50px;
      border-radius: 20px;
      border-top-left-radius: 0px;
      border-style: solid;
      border-width: thin;
      border-color: #868388;
    }
  }

  .current-user {
    text-align: right;
    .comment-body {
      background-color: #F2D0E0;
      padding: 5% 5% 1% 1%;
      margin-left: 50px;
      border-radius: 20px;
      border-top-right-radius: 0px;
      border-style: solid;
      border-width: thin;
      border-color: #868388;
    }
  }
}
