.summary-show-tile {
  background-color: #C3CFEE;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;

  .summary-text {
    margin-top: 7%;
    margin-bottom: 7%;
  }
}
