@import '../colors';

.video-form {
  height: 100vh;

  .spacer {
    width: 100%;
    height: 45px;
  }

  form {
    background-color: $background-blue;
    padding: 5%;
    padding-bottom: 3%;
    border-radius: 20px;
    margin: 0 25%;
    border-style: solid;
    border-width: thin;
    border-color: $border-grey;

    .form-header {
      padding-bottom: 15px;
    }

    input {
      border-color: $background-grey;
    }

    .dropzone {
      border: dashed #bdc3c7;
      margin: 2em;
      height: 5em;
      text-align: center;
      padding: 1em;
    }

    .submit-button {
      background-color: $button-pink;
      border-color: $button-pink;
      padding: 15px;
      border-radius: 10px;
      margin-top: 10px;
    }
    .submit-button:focus {
      outline: 0;
    }
  }
}
