@import '../colors';

.video-buttons-container {
  .button {
    background-color: $button-pink;
    border-color: $button-pink;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    font-weight: bold;
  }

  .button-top {
    margin-top: 45px;
  }
}
