@import '../colors';

.video-show-tile {
  .video-background {
    margin: 0 20%;
    background-color: $background-blue;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: $border-grey;
  }

  .video-header {
    font-weight: bold;
  }

  hr {
    border-color: #00000050;
  }

  .video-tile {
    margin-top: 40px;
    height: 480px;
    width: auto;
  }

  .video-data {
    margin-top: 50px;
  }

  .fa-check {
    color: $green;
  }

  .fa-times {
    color: $red;
  }

  .instructor-certify {
    background-color: $button-pink;
    border-style: solid;
    border-width: thin;
    border-color: $border-grey;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: bold;

    .fa-check {
      padding-left: 30px;
    }

    .fa-times {
      padding-left: 30px;
    }
  }
}
