.video-index-tile {
  background-color: #C3CFEE;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #868388;

  .video-tile {
    cursor: pointer;
  }
}
