$background-grey: #F4F4F4;
$background-blue: #C3CFEE;
$teal: #66CEC8;
$summary-pink: #ECB4CF;
$yellow: #F2D076;
$heart-purple: #D18AEA;
$camera-blue: #479FD9;
$button-pink: #E691B9;
$border-grey: #868388;
$light-pink: #F2D0E0;
$off-white: #FDFDFC;
$red: #E54040;
$green: #128A49;
