.sign-in {
  background: image-url('acrobats-background.jpg');
  margin-top: -100px;
  width: 100%;
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;

  .spacer {
    width: 100%;
    height: 160px;
  }

  .log-in-form {
    background: #00000070;
    border-radius: 30px;
    margin-left: 60%;
    margin-right: 5%;
    text-align: center;
    color: white;
  }

  label {
    color: white;
  }

  a {
    color: white;
  }
}
