.top-bar {
  background-color: #3D086E;

  .logo {
    height: 90px;
    width: auto;
  }

  a {
    font-weight: bold;
  }
}

.top-bar-right {

  .is-accordion-submenu-parent {
    background-color: #3D086E;
  }

  .accordian-menu > li.is-accordian-submenu-parent > button::after{
    border-color: #FDFDFC rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }

  .is-submenu-item {
    background-color: #FDFDFC;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #868388;
    text-align: center;
  }

  .is-active {
    border-radius: 15px;
  }

  .is-active::after {
    border-radius: 15px;
  }
}

.top-bar-signed-in {
  background-color: #311A63;

  .fa-bars {
    color: #FDFDFC;
  }

  .right {
    background-color: #3D086E;
    list-style-type: none;
  }

  .search-bar {
    margin-top: 12px;
  }

  .search-field {
    border-radius: 10px;
    margin-bottom: 5px
  }

  .search-button {
    background-color: #E691B9;
    border-color: #E691B9;
    border-radius: 10px;
  }

  a {
    color: #000000;
  }
}

.top-bar-signed-out {
  background-color: #49177E;

  a {
    color: white;
  }
}
