.top-bar {
  .logo {
    height: 90px;
    width: auto;
  }

  a {
    font-weight: bold;
  }
}

.top-bar-signed-in {
  background-color: #3D086E;

  .right {
    background-color: #3D086E;
    list-style-type: none;
  }

  a {
    color: #DFEAE9;
  }
}

.top-bar-signed-out {
  background-color: #49177E;

  a {
    color: white;
  }
}
